API/obj/Debug/net8.0/ref/API.dll
API/bin/Debug/net8.0/API.dll
API/bin/Debug/net8.0/API.exe
API/bin
API/obj
API/obj/Debug/net8.0/API.pdb
API/bin/Debug/net8.0/API.dll
API/bin/Debug/net8.0/API.exe
API/bin/Debug/net8.0/API.dll
